.linea {
  background-color: #e74c3c;
  height: 5px;
  width: 100%;
}

.infoContacto {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#linkedin {
  height: 50px;
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#linkedin:hover {
  filter: invert(28%) sepia(87%) saturate(1120%) hue-rotate(190deg)
    brightness(95%) contrast(83%);
}

#gitlab {
  height: 50px;
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#gitlab:hover {
  filter: invert(63%) sepia(41%) saturate(5156%) hue-rotate(340deg)
    brightness(96%) contrast(106%);
}

#whatsapp {
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#whatsapp:hover {
  filter: invert(91%) sepia(8%) saturate(5453%) hue-rotate(60deg)
    brightness(98%) contrast(64%);
}

#facebook {
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#facebook:hover {
  filter: invert(32%) sepia(53%) saturate(649%) hue-rotate(183deg)
    brightness(92%) contrast(89%);
}

#instagram {
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#instagram:hover {
  filter: invert(31%) sepia(20%) saturate(5380%) hue-rotate(257deg)
    brightness(85%) contrast(93%);
}

#twitter {
  height: 49px;
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#twitter:hover {
  filter: invert(56%) sepia(22%) saturate(7484%) hue-rotate(177deg)
    brightness(100%) contrast(90%);
}

#github {
  height: 49px;
  filter: invert(82%) sepia(1%) saturate(0%) hue-rotate(338deg) brightness(85%)
    contrast(84%);
}

#github:hover {
  filter: invert(0%) sepia(2%) saturate(2%) hue-rotate(43deg) brightness(99%)
    contrast(100%);
}

.lista {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: center;
}

.itemLista {
  list-style-type: none;
  margin-right: 1%;
  margin-left: 1%;
}
