.imagen {
  z-index: -1;
  height: 100%;
  text-align: center;
  align-items: center;
}
/* En vez de la clase imagen te propongo una clase por imagen, ya que son bastante distintas y a la hora de aplicarles la misma regla de tamaño no se adaptan bien.

.imagen-rochester {
  z-index: -1;
  width : 1em;
  height: 14em;
  text-align: center;
  align-items: center;
}

.imagen-andes {
  z-index: -1;
  width : 13em;
  height: 12em;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
*/

.centradoVertical {
  display: flex;
  align-items: center;
}

.texto {
  margin: 20px;
  justify-content: baseline;
}

.chiquito {
  display: none;
}

.derecha {
  text-align: right;
}
h1 {
  margin-top: 10px;
}

@media only screen and (max-width: 576px) {

  .grande {
    display: none;
  }

  .chiquito {
    display: inherit;;
  }
}
