.row {
  padding: 0px 10px 0px 10px;
  vertical-align: middle;
}

.tituloEducacion {
  margin-left: calc(5vw - 5px);
}

.tituloEducacionD {
  margin-right: calc(5vw - 5px);
}

.imagen {
  z-index: -1;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 10px 5vw 10px 5vw;
  margin-top: auto;
  margin-bottom: auto;
}

.centradoVertical {
  display: flex;
  align-items: center;
  padding: 0;
}

.texto {
  margin: 15px 0px 15px 0px;
  justify-content: baseline;
}

.chiquito {
  display: none;
}

.derecha {
  text-align: right;
}
h1 {
  margin-top: 10px;
}

@media only screen and (max-width: 576px) {
  .grande {
    display: none;
  }

  .chiquito {
    display: inherit;
  }

  .imagen {
    padding: 20px 15vw 10px 15vw;
  }

  .tituloEducacion {
    margin-left: 0px;
    text-align: center;
  }

  .tituloEducacionD {
    margin-right: 0px;
    text-align: center;
  }

  .centrarChiquito {
    text-align: center;
  }
}
