#sombreado {
  opacity: 0.9;
  background-color: grey;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#foto {
  position: absolute;
  z-index: -1;
  height: 400px;
  width: 100vw;
  background-image: url("../media/home.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#quote {
  color: white;
  font-size: 3vw;
  margin: 15px;
}

.interes {
  text-align: center;
  margin-top: 20px;
}

.tituloInteres {
  margin-bottom: 60px;
}

.elementosBarras {
  margin: 1.5vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.barras {
  margin-bottom: 60px;
}

.herramienta {
  max-height: 75px;
  max-width: 120px;
}

.imagenHerramienta {
  text-align: center;
  vertical-align: middle;
  height: 75px;
  line-height: 75px;
}

#tools {
  margin-bottom: 10px;
}

@media only screen and (max-width: 850px) {
  #quote {
    font-size: 4vw;
  }
}
@media only screen and (max-width: 600px) {
  #quote {
    font-size: 5vw;
  }
}
@media only screen and (max-width: 400px) {
  #quote {
    font-size: 6vw;
  }
}
