body {
  margin: 0px;
}
.panel{
  width: 100%;
  z-index: -1;
}

.tituloHome {
  text-align: center;
  margin: 25px;
  margin-bottom: 30px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}